src/main/mule/ms-database-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="ms-database-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ms-database-sapi-config" api="resource::110f174b-223c-482b-9e4b-1eae76c3f526:ms-database-sapi:1.0.2:raml:zip:ms-database-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="526a84f9-28d9-4aaf-9748-0397505cbdcb">
        <db:my-sql-connection host="localhost" port="3306" user="root" password="Ali#14ya#25" database="accountdb" />
    </db:config>
    <flow name="ms-database-sapi-main">
        <http:listener config-ref="ms-database-sapi-httpListenerConfig" path="/api/*" outputMimeType="application/json" allowedMethods="GET,POST,PUT,DELETE" doc:name="Listener ABC">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ms-database-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ms-database-sapi-console">
        <http:listener config-ref="ms-database-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ms-database-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\account\updateAccount:application\json:ms-database-sapi-config">
		<db:update doc:name="Update" doc:id="2c16e510-1160-4f85-9314-79df9b581353" config-ref="Database_Config">
			<db:sql ><![CDATA[update account set name =:name where accountID= :accountID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name: payload.name,
	accountID : payload.accountID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: {
    code: 200,
    description: "Account Updated Successfully for accountname having <Account ID>"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\account\createAccount:application\json:ms-database-sapi-config">
        <db:insert doc:name="Insert" doc:id="5102f7cd-990c-4764-af14-7981320e9348" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO account(accountID, name, phoneNo1, phoneNo2, address, zipCode, city, state, countryCode) VALUES (:accountID, :name, :phoneNo1, :phoneNo2, :address, :zipCode, :city, :state,:countryCode) ;]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	accountID: payload.accountID,
    name: payload.name,
    phoneNo1: payload.contactDetails.phoneNo1,
    phoneNo2: payload.contactDetails.phoneNo2,
    address: payload.contactDetails.address,
    zipCode: payload.contactDetails.zipCode,
    city: payload.contactDetails.city,
    state: payload.contactDetails.state,
    countryCode: payload.contactDetails.countryCode
}]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Transform Message" doc:id="f3616649-6cfd-4634-b9a0-e881b7ad9f52">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: {
    code: 200,
    description: "Account Created Successfully for <Account Name> having <Account ID>"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\fetchAccount\(accountID):ms-database-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountID">attributes.uriParams.'accountID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="8406925d-0290-4496-bdfa-c52fe1d83f54" config-ref="Database_Config">
            <db:sql><![CDATA[Select * from account where accoundID= :accountID;]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	accountID: vars.accountID
}]]]></db:input-parameters>
        </db:select>
		<ee:transform doc:name="Transform Message" doc:id="d475ef5b-74b0-46f4-b0d2-bca7b9f99886">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="e7629f6d-5125-46fc-9d75-99831eda1ebd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "accountNumber":payload.accountNumber ,
  "name": payload.name,
  "contactDetails":
  {
    "phoneNo1": payload.phoneNo1,
    "phoneNo2": payload.phoneNo2,
    "address": payload.address,
    "zipCode": payload.zipCode,
    "city": payload.city,
    "state": payload.State,
    "countryCode": payload.countryCode
   }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
